<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <h1>Selecionar código</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="/sample/classification" method="post">
        <input type="hidden" name="sampleId" value="{{sample.id}}" />
        <select class="form-select mt-3" name="codeSelection">
          {{#each options}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <button class="btn btn-success mt-3" type="submit">Classificar</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>